<div class="spacer"></div>

<div class="footer">
    <p>The Subline</p>
    <div>
        <a href="/information">Privacy Policy</a>
        <a href="/information">Terms and Conditions</a>
        <a href="/information">Help</a>
        <a href="/information">Contact us</a>
    </div>
</div>