<div class="header">
    <a class="logo" href="/" >
        <img src="/shared/images/logo.png" alt="Subline">
        <div class='header-logo'> SUBLINE </div>
    </a>

    <div class="public-buttons">
        <button id="logInButton" class="button" onclick="loginObj.display()"> Log In </button>

        <a id="joinButton" class="button-join link" onclick="registerObj.display()"> Or Join </a>
    </div>
</div>