<div id="loaderContainer" style="display: none">
    <div class="loader">
        <div class="outer"></div>
        <div class="mid"></div>
        <div class="inner"></div>
        <img src="../shared/images/logo.png" alt="subline">
    </div>
</div>