<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/informationPage/information.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <strand-selector></strand-selector>

        <div id="legalStrand" class="strand">
            <div class="content">
                <h1>The Subline, LLC Privacy Policy</h1>
            
                <p>Last modified: December 23, 2019</p>
            
                <h3>Introduction</h3>
            
                <p>The Subline, LLC. ("Company" or "We") respects your privacy, and we are committed to protecting it through our compliance with this policy.</p>
            
                <p>This policy describes the types of information we may collect from you or that you may provide when you visit the website, www.thesubline.com (the "Website") or utilize any of the services on our platform, including our practices for collecting, using, maintaining, protecting, and disclosing that information.</p>
            
                <p>This policy applies to information we collect:</p>
            
                <ol>
                    <li>On our Website and our Platform;</li>
            
                    <li>In emails, texts, and other electronic messages between you and the Website and our Platform in connection with inventory management (procurement, sales, management, etc.);</li>
            
                    <li>When you interact with our advertising and applications on third-party websites and services, if those applications or advertising include links to this policy.</li>
                </ol>
            
                <p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website or Platform. By accessing or using our Website and Platform, you agree to this privacy policy. This policy may change from time to time (see Changes to Our Privacy Policy). Your continued use of our Website and the Platform after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.</p>
            
                <h3>Information We Collect About You and How We Collect It</h3>
            
                <p>Generally, no personally identifiable information, such as your name or mailing address, is collected anytime you visit the Website/Platform, nor is it required for you to visit the Website and our Platform. We collect several types of information from and about users of our Website and our Platform, including information:</p>
            
                <ol>
                    <li>by which you may be personally identified, such as name, postal address, e-mail address, credit card information, or telephone number ("personal information");</li>
            
                    <li>about your internet connection, the equipment you use to access our Website and our Platform and usage details.</li>
                </ol>
            
                <h3>We collect this information:</h3>
            
                <ol>
                    <li>Directly from you when you provide it to us;</li>
            
                    <li>Automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies;</li>
            
                    <li>From third parties, for example, our business partners.</li>
                </ol>
            
                <h3>Information You Provide to Us</h3>
            
                <p>When personal information is collected from you, such as your name and email address, we generally let you know at the time of collection how we will use the personal information. The Company will not share or sell the personal information you provide to us with anyone for their marketing use. We may share the personal information you provide with other companies we have hired to provide services for us. Your information will only be used by these third parties (or their subcontractors) to perform the assigned function.</p>
            
                <p>The information we collect on or through our Website and our Platform may include:</p>
            
                <ol>
                    <li>Information that you provide by filling in forms on our Website and our Platform. This includes information provided at the time of registering or requesting further services. We may also ask you for information when you enter a contest or promotion sponsored by us, and when you report a problem with our Website or Platform.</li>
            
                    <li>Records and copies of your correspondence (including email addresses), if you contact us.</li>
            
                    <li>Your responses to surveys that we might ask you to complete for research purposes.</li>
                </ol>
            
                <p>You also may provide information to be published or displayed (hereinafter, "posted") on public areas of the Website and our Platform, or transmitted to other users of the Website and our Platform or third parties (collectively, "User Contributions"). Your User Contributions are posted on and transmitted to others at your own risk. We cannot control the actions of other users of the Website and our Platform with whom you may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions will not be viewed by unauthorized persons.</p>
            
                <h3>Information We Collect Through Automatic Data Collection Technologies</h3>
            
                <p>As you navigate through and interact with our Website and our Platform, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:</p>
            
                <ol>
                    <li>Details of your visits to our Website/Platform, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website/Platform;</li>
            
                    <li>Information about your computer and internet connection, including your IP address, operating system, and browser type.</li>
                </ol>
            
                <p>The information we collect automatically is statistical data and does not include personal information, but we may maintain it or associate it with personal information we collect in other ways or receive from third parties. It helps us to improve our Website and our Platform and to deliver a better and more personalized service, including by enabling us to:</p>
            
                <ol>
                    <li>Estimate our audience size and usage patterns.</li>
            
                    <li>Store information about your preferences, allowing us to customize our Website and our Platform according to your individual interests.</li>
            
                    <li>Speed up your searches.</li>
            
                    <li>Recognize you when you return to our Website and our Platform.</li>
                </ol>
            
                <p>The technologies we use for this automatic data collection may include:</p>
            
                <ol>
                    <li>Cookies (or browser cookies). A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system may issue cookies when you direct your browser to our Website and our Platform.</li>
            
                    <li>Flash Cookies. Certain features of our Website and our Platform may use local stored objects (or Flash cookies) to collect and store information about your preferences and navigation to, from, and on our Website and our Platform. Flash cookies are not managed by the same browser settings as are used for browser cookies. For information about managing your privacy and security settings for Flash cookies, see Choices About How We Use and Disclose Your Information.</li>
            
                    <li>Web Beacons. Pages of our Website and our Platform and our e-mails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages or and for other related website statistics (for example, recording the popularity of certain website content and verifying system and server integrity).</li>
                </ol>
            
                <p>We do not collect personal information automatically, but we may tie this information to personal information about you that we collect from other sources or you provide to us.</p>
            
                <h3>How We Use Your Information</h3>
            
                <p>We use information that we collect about you or that you provide to us, including any personal information:</p>
            
                <ol>
                    <li>To present our Website and our Platform and its contents to you;</li>
            
                    <li>To provide you with information, products, or services that you request from us;</li>
            
                    <li>To fulfill any other purpose for which you provide it;</li>
            
                    <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection;</li>
            
                    <li>To notify you about changes to our Website and our Platform or any products or services we offer or provide though it;</li>
            
                    <li>To allow you to participate in interactive features on our Website and our Platform or participate in promotions, reward programs or other similar programs;</li>
            
                    <li>In any other way we may describe when you provide the information;</li>
            
                    <li>For any other purpose with your consent.</li>
                </ol>
            
                <h3>Disclosure of Your Information</h3>
            
                <p>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction. We may disclose personal information that we collect or you provide as described in this privacy policy:</p>
            
                <ol>
                    <li>To our subsidiaries and affiliates.</li>
            
                    <li>To contractors, service providers, and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.</li>
            
                    <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Company's assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by Company about our Website users is among the assets transferred.</li>
            
                    <li>For any other purpose disclosed by us when you provide the information.</li>
            
                    <li>With your consent.</li>
                </ol>
            
                <p>We may also disclose your personal information:</p>
            
                <ol>
                    <li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</li>
            
                    <li>To enforce or apply our terms of use or terms of sale and other agreements, including for billing and collection purposes.</li>
            
                    <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Company, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</li>
                </ol>
            
                <h3>Choices About How We Use and Disclose Your Information</h3>
            
                <p>We strive to provide you with choices regarding the personal information you provide to us. We have created mechanisms to provide you with the following control over your information:</p>
            
                <ol>
                    <li>Tracking Technologies and Advertising. You can set your browser to refuse all or some browser cookies, or to alert you when cookies are being sent. To learn how you can manage your Flash cookie settings, visit the Flash player settings page on Adobe's website. If you disable or refuse cookies, please note that some parts of this site may then be inaccessible or not function properly.</li>
                </ol>
            
                <h3>Accessing and Correcting Your Information</h3>
            
                <p>You may also send us an email at the address shown below to request access to, correct or delete any personal information that you have provided to us. We cannot delete your personal information except by also deleting your user account. We may not accommodate a request to change information if we believe the change would violate any law or legal requirement or cause the information to be incorrect.</p>
            
                <h3>Your California Privacy Rights</h3>
            
                <p>California Civil Code Section ยง 1798.83 permits users of our Website and our Platform that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email to info@thesubline.com or write us at the address noted below.</p>
            
                <h3>Data Security</h3>
            
                <p>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. All information you provide to us is stored on our secure servers behind firewalls. Any payment transactions will be encrypted using SSL technology.</p>
            
                <p>The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our Website and our Platform, you are responsible for keeping this password confidential. We ask you not to share your password with anyone.</p>
            
                <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Website and our Platform. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Website and our Platform.</p>
            
                <h3>Changes to Our Privacy Policy</h3>
            
                <p>It is our policy to post any changes we make to our privacy policy on this page. If we make material changes to how we treat our users' personal information, we will notify you through a notice on the Website home page. The date the privacy policy was last revised is identified at the top of the page. You are responsible for ensuring we have an up-to-date active and deliverable email address for you, and for periodically visiting our Website and our Platform and this privacy policy to check for any changes.</p>
            
                <h3>Miscellaneous</h3>
            
                <p>Disclaimer Notice. We make no claims, promises or guarantees about the accuracy, currency, completeness or adequacy of the content of the Website and our Platform, products and services available through the Website and our Platform, and expressly disclaim liability for errors and omissions in the related content. No warranty of any kind, implied, express or statutory, including but not limited to warranties of non-infringement of third-party rights, title, merchantability, fitness for a particular purpose and freedom from computer virus is given with respect to the Website and our Platform, products and services offered through the Website and our Platform. Although we have put in place security systems (as described in this Privacy Policy) that are designed to prevent unauthorized disclosure of your Personal Information, due to the nature of internet technologies we cannot provide assurances as to the security of this information, and expressly disclaim any such obligation.</p>
            
                <p>Choice of Law and Jurisdiction. This Privacy Policy shall be construed in accordance with the laws of the State of Florida, without regard to any conflict of law provisions. Any dispute arising under this Privacy Policy shall be resolved exclusively by the state or federal courts sitting in the judicial district that includes Seattle, Washington.</p>
            
                <h3>Contact Information</h3>
            
                <p>To ask questions or comment about this privacy policy and our privacy practices, contact us at:</p>
            
                <p class="contactInfo">The Subline</p>
            
                <p class="contactInfo">ATTN: PRIVACY POLICY</p>
            
                <p class="contactInfo">info@thesubline.com</p>
            
                <p class="contactInfo last">www.thesubline.com</p>
            </div>

            <div class="content">
                <h1>The Subline, Terms and Conditions</h1>

                <h4>Last update: January 8, 2020</h4>

                <p>These terms and conditions specify the terms of the contract between The Subline and the Merchant Venue named in the Sign-Up Form (&quot;Merchant Venue&quot;), pursuant to which the Merchant Venue may use the The Subline service. If the Merchant Venue does not accept these terms and conditions (including following any amendment to these terms and conditions), the Merchant Venue must immediately cease use of the Service and notify The Subline in writing.</p>

                <p>By using the Service, the Merchant Venue agrees to be legally bound by the Agreement (as varied from time to time), and to comply with all The Subline policies, including the The Subline Privacy Policy (both of which are located at hazInut.com/privacy-policy/,</p>

                <p>1. General</p>

                <p>1.1 The Service provides an inventory management solution for food and beverage providers using Clover devices. Information and analysis provided by The Service is available on a personalized and private desktop browser-based dashboard.</p>

                <p>1.2 Much of the analysis completed by The Service is based on Merchant Information stored on Clover servers. After successful login (granted by Clover) to the Merchant Dashboard, The Service will pull information from the Clover servers, update the information, and display it to the Merchant.</p>

                <p>1.3 This Agreement specifies the terms on which The Subline makes available, and Customer will use, the Service.</p>

                <p>2. Definitions and Interpretation</p>

                <p>2.1 In this Agreement:</p>

                <p>&quot;Agreement&quot; means this Merchant Venue Agreement (as amended or updated from time to time), including the Subscription Plan and these terms and conditions.</p>

                <p>&quot;The Subline Service Fee&quot; means the monthly Fee payable by the Merchant Venue to The Subline for the Service as detailed in the Subscription Plan.</p>

                <p>&quot;HazInut Service Fee Start Date&quot; means the first date from which the The Subline Service Fee is charged to the Merchant Venue, as detailed in the Subscription Plan.</p>

                <p>&quot;Chargeback&quot; means a demand by a bank or other credit-card provider, or other provider of electronic payment facilities, for a merchant to make good the loss on a fraudulent or disputed transaction.</p>

                <p>&quot;Customer&quot; means anyone who communicates an Order, in person or using third-party applications to the Merchant Venue for the supply of Venue Products.</p>

                <p>&quot;Menu&quot; means a listing of Venue Products that the Merchant Venue will sell to Customers (including the price a Customer must pay to purchase each item of Venue Products) that The Subline will publish to, and process Orders from, Customers by means of the Service Portals.</p>

                <p>&quot;Order&quot; means an offer from a Customer to Merchant Venue to purchase Venue Products for the Order Price.</p>

                <p>&quot;Order Price&quot; means the price a Customer will pay to Merchant Venue for the supply of Venue Products (exclusive of GST and any other applicable taxes), which must be calculated in accordance with pricing specified on the Merchant Venue's Menu.</p>

                <p>&quot;Merchant Venue&quot; means an establishment that utilizes The Subline for Inventory Management.</p>

                <p>&quot;Merchant Venue Material&quot; includes any material in which Merchant Venue owns or holds intellectual property rights, or which commercially identifies, or can be used to commercially identify, the Merchant Venue, including its name, logos, trademarks, slogans, Menu, names of Venue Products, pricing and location.</p>

                <p>&quot;Point of Supply&quot; means the time and location at which Merchant Venue supplies Venue Products to a Customer, which may include the Merchant Venue's business premises (for Venue Products collected by the Customer).</p>

                <p>&ldquo;Merchant Purchase&rdquo; means any purchase a raw material (food, beverage, condiments, utensils, plates, etc) that the Merchant sells to the Customer as a routine part of the Merchant&rsquo;s business.</p>

                <p>&quot;Venue Products&quot; means any product that Merchant Venue supplies, or makes available for supply, to any Customer, including any type of food or beverage.</p>

                <p>&quot;Service&quot; means the provision of online facilities to enable Merchants to view real-time inventory status, Orders, Merchant Purchases and the analytics provided.</p>

                <p>&quot;Service Portals&quot; means facilities by which The Subline makes the Service available to Merchants from time to time.</p>

                <p>&quot;Sign Up Form&quot; means a document with the name, address and email of the Merchant Venue that is completed, usually at the time of the Merchant Venue agrees to use The Subline.</p>

                <p>&quot;Subscription Plan' means the terms of purchase agreed by Merchant Venue via the channel used to acquire The Subline including but not limited to The Subline recurring Fee, currency of the The Subline Service Fee and The Subline Service Fee start date.</p>

                <p>&quot;Other Conditions&quot; means any additional terms and conditions agreed to by a Merchant venue for services other than the standard ones, and via additional side agreements,</p>

                <p>2.2 In this Agreement:</p>

                <p>a. headings to and within clauses are for convenience and reference only and do not form a part of this Agreement and shall not in any way affect the interpretation of this Agreement;</p>

                <p>b. Words importing the singular include the plural and vice versa; and</p>

                <p>c. All monetary references are the currency detailed in the Subscription Plan otherwise specified.</p>

                <p>2.3 This Agreement incorporates any Other Conditions, and in the event of any inconsistency between any of these terms and conditions and any Other Conditions, the Other Conditions will prevail to the extent of the inconsistency.</p>

                <p>3. Service and availability</p>

                <p>3.1 The Subline is the owner and operator of the Service Portals. The Service Portals allows Merchants to monitor their inventory and receive information from The Service.</p>

                <p>3.2 The Subline reserves the right to provide the Services on other Service Portals in the future, without notice to the Merchant Venue.</p>

                <p>3.3 The Merchant Venue operates one or more Venue(s), at which the Venue Products are prepared and sold to the public.</p>

                <p>3.4 The Subline will:</p>

                <p>a. make the Service available for use by the public through the Service Portals;</p>

                <p>b. provide current Inventory counts based on information provided by the Merchant;</p>

                <p>3.5 The Merchant Venue acknowledges that The Subline has no responsibility for the fulfilment of Orders of Raw Materials or Ingredients; The Subline does not hold any Collected Payments.</p>

                <p>3.6 The Subline may without notice make changes to or temporarily suspend the operation of the Service Portals should The Subline deem this necessary.</p>

                <p>4. Obligations of The Subline</p>

                <p>4.1 Subject to clause 4.2 below, The Subline will:</p>

                <p>a. list the Merchant Venue and publish its Menu by means of the Service Portals;</p>

                <p>b_ communicate Orders to the Merchant Venue; and</p>

                <p>c. provide reporting on Orders processed via the service.</p>

                <p>4.2 The Subline will use reasonable endeavors to accurately display on the Service Portals information relevant for the Merchants provided by the Merchant or by POS services.</p>

                <p>4.3 The Subline will work with the Merchant to provide quality information and data that The Subline reasonably requires in order to supply the Service.</p>

                <p>5. Obligations of the Merchant Venue</p>

                <p>5.1 The Merchant Venue is responsible for ensuring that at all times it has a functional telephone and, where agreed with The Subline, a facsimile machine, or means of receiving electronic communication such as email, in order to provide updates to the Service.</p>

                <p>5.2 The Merchant Venue must as promptly as possible:</p>

                <p>a. review each Order communicated to it by The Subline;</p>

                <p>b. communicate Order Acceptance to Customers; and</p>

                <p>c. execute Orders promptly and in accordance with a Customer's reasonable expectations.</p>

                <p>5.3 The Merchant Venue acknowledges that:</p>

                <p>a. no contract exists, or at any time will exist, between The Subline and the Merchant for the supply of Raw Materials or Ingredients;</p>

                <p>b. that the sole and exclusive obligation to purchase Raw Materials and Inventory is owed by the Merchant Venue;</p>

                <p>c. the Merchant Venue indemnifies The Subline against any claim or demand made or cost, loss or liability suffered by the Merchant arising directly or indirectly from wasted or lost Raw Materials or Inventory;</p>

                <p>5.5 The Merchant Venue must ensure that the information it provides to The Subline is current and correct, including, but not limited to, its company and/or business name, address, contact telephone number, manager/contact person details, and other relevant information, and the Merchant Venue agrees that it:</p>

                <p>a. must immediately notify The Subline if any information it is required to supply in accordance with this clause changes or becomes inaccurate or incorrect; and</p>

                <p>b. will indemnify The Subline against any claim, loss, liability or damage arising out of any error or inaccuracy of, or any delay in notifying The Subline of any change to, any of the information it is required to supply in accordance with this clause.</p>

                <p>5.6 The Subline reserves the right to:</p>

                <p>a. regularly carry out inspections to ensure compliance with this clause 5; and</p>

                <p>b. immediately suspend or terminate (at The Subline's sole discretion) the supply of the Service if The Subline reasonably suspects the Merchant Venue has not complied with any requirement of this clause 5.</p>

                <p>6. License to use Merchant Venue Material</p>

                <p>6.1 The Merchant Venue grants to The Subline an unrestricted, Worldwide, royalty-free license during the term of this Agreement to use, Venue Products, modify and adapt all Merchant Venue Material for the purposes of:</p>

                <p>a. inclusion on the Service Portals and as may be otherwise required for the proper supply of the Services; and</p>

                <p>b. the general promotion of the Service and Merchant Venue, including without limitation:</p>

                <p>i. use of the Venue's Name for internet advertising purposes, including Google Adwords, to support advertising campaigns and domain registrations for the Service Portals and The Subline; and</p>

                <p>ii. subject to clause 6.4 or unless otherwise agreed in writing, the registration in the United States of America or any other jurisdiction of domain names incorporating any part of the Merchant Venue Material, or material similar to the Venue Material.</p>

                <p>iii. the right to register on google maps, google locations or any other third-party directory websites or services.</p>

                <p>6.2 For the avoidance of doubt, unless otherwise stated or the parties otherwise agreed in writing, the Merchant Venue acknowledges and agrees that, subject to clause 6.4, The Subline may use Merchant Venue Material to register a domain name and operate a website in such a way that a Customer may reasonably assume such website is operated by or on behalf of the Merchant Venue, including by using a domain name the same or similar to the business name of the Merchant Venue and diverting website traffic to a Service Portal, and the Merchant Venue explicitly authorizes the operating of such website by The Subline for the purpose of promoting the sale of Venue</p>

                <p>Products using the Service.</p>

                <p>6.3 Any material the Merchant Venue transmits or submits to The Subline either through the Service Portals or otherwise (&quot;Communicated Material'') shall be considered and may be treated by The Subline as non-confidential, subject to The Subline's obligations under relevant legislation. The Merchant Venue grants to The Subline a royalty-free, perpetual, irrevocable, non-exclusive license to use, copy, modify, adapt, translate, publish and distribute world-wide any Communicated Material for the purposes of providing services under this Agreement or to or for the purposes of advertising and promotion of the Service Portals. The Merchant Venue agrees that all information provided to The Subline that is published, may be relied upon and viewed by Customers to enable them to make decisions and form a legally binding contract with the Merchant Venue.</p>

                <p>7. Operational Information</p>

                <p>7.1 The Merchant Venue is responsible for updating/maintaining Recipes, Inventory Stores, and Inventory Purchases, and any other data inputs that the Service requires. If the Merchant has questions or requires clarification about the The Service, the Merchant must reach out to The Subline for assistance.</p>

                <p>8. Payment</p>

                <p>8.1 The Merchant Venue must pay The Subline the &ldquo;The Subline Service Fee&rdquo; set out in the Subscription Plan.</p>

                <p>8.2 The Subline Service Fee be payable on a monthly basis starting from the &ldquo;The Subline Service Fee&rdquo; Start Date.</p>

                <p>8.3 The merchant venue agrees to provide payment details to The Subline or the channel via which The Subline services was signed up, for direct deduction of all necessary The Subline Service Fees.</p>

                <p>9. Confidentiality</p>

                <p>9.1 A party will not, except with the written consent of the other party or where required to do so by law or stock exchange regulation, disclose any confidential information of the other party.</p>

                <p>9.2 Confidential information of The Subline includes without limitation its business strategies, pricing, revenues, expenses, and order information.</p>

                <p>9.3 Both parties agree to treat as strictly confidential the contents of the Subscription Plan and all other information, data and facts that may be shared between both parties during the course of this Agreement.</p>

                <p>10. Warranty and Indemnity</p>

                <p>10.1 The Merchant Venue warrants that if the Merchant Venue ceases business, closes operations for a material period or is otherwise unable to offer Venue Products to Customers or to satisfy any obligation to Customers, Merchant Venue will immediately inform The Subline.</p>

                <p>10.2 The Subline does not guarantee or warrant that the Service Portals, software, hardware or services will be free from defects or malfunctions. If errors occur, The Subline will use its best endeavors to resolve these as quickly as possible.</p>

                <p>10.3 The Merchant Venue indemnifies and holds harmless The Subline (and its directors, officers, agents, representatives and employees) from and against any and all claims, suits, liabilities, judgments, losses and damages arising out of or in connection with any claim or suit or demand:</p>

                <p>a. arising from any failure to provide notice in accordance with clause 10.1;</p>

                <p>b. by a Customer (or any party on whose behalf a Customer has been acting) in respect of, arising out of, or in connection with, Services;</p>

                <p>c. in any way associated with Venue Products;</p>

                <p>d. compliance with food quality laws or regulations; or</p>

                <p>e. any relevant liquor licensing laws or regulations, except and to the extent any liability, loss or damage arises from the reckless or malicious act or omission of The Subline.</p>

                <p>11. Term and Termination</p>

                <p>11.1 This Agreement starts on the date the Merchant Venue downloads the The Subline Venue Application and accepts these terms and unless terminated earlier under this clause will continue indefinitely.</p>

                <p>11.2 Either party may terminate this Agreement for convenience without giving cause at any time upon 10 days prior written notice to the other party. Following any such termination for convenience:</p>

                <p>a. the Merchant Venue's obligations under this Agreement will continue until the end of the month during which notice is given; and</p>

                <p>b. the Merchant Venue's online listing and promotion undertaken by The Subline will be ceased as soon as is practicable.</p>

                <p>11.3 The Subline may terminate this Agreement, with immediate effect if the Merchant Venue:</p>

                <p>a. provides any inaccurate information about its business to The Subline, such as inaccurate information relating to opening hours, delivery areas, delivery terms or prices;</p>

                <p>b. fails to deliver an Accepted Order to any Customer (except where the Merchant Venue demonstrates it reasonably believed the Accepted Order was fraudulent or the Customer did not intend to, or refused to pay, the Order Price); or</p>

                <p>c. is subject to any event of insolvency (such as the appointment of an administrator, receiver or liquidator or fails to pay its debts as and when they fall due) or bankruptcy (such as having bankruptcy proceedings commenced against the Merchant Venue or being unable to pay any of its creditors).</p>

                <p>11.4 Either party may terminate this Agreement with immediate effect by notice in writing to the other party if the other party commits a material breach of this Agreement not capable of remedy, or in the case of a material breach capable of remedy, is not remedied within 3 business days after written notice is given to the breaching party, specifying the breach.</p>

                <p>11.5 Termination of this Agreement shall not affect the accrued rights or liabilities of the parties at the date of termination.</p>

                <p>12. Limitation of Liability</p>

                <p>12.1 Except for liability in relation to breach of any Non-excludable Condition and liability under clause 12.3, The Subline's total liability to the Merchant Venue in contract, including for one or more breaches of any express term or terms (including any indemnity) of this Agreement (in aggregate), tort (including in negligence), statute, or otherwise, is limited to an amount equal to the total amount of The Subline Service Fee paid by the Merchant Venue to The Subline under this Agreement during the 3 month period before the liability arose.</p>

                <p>12.2 The Subline's total liability to the Merchant Venue for a breach of any Non-excludable Condition (other than a Non-excludable Condition that by law cannot be limited) is limited, at The Subline's option to any one of resupplying, replacing or repairing, or paying the cost of resupplying, replacing or repairing the goods in respect of which the breach occurred, or supplying again or paying the cost of supplying again, the services in respect of which the breach occurred.</p>

                <p>12.3 Except for liability in relation to breach of any Non-excludable Condition, The Subline excludes all liability to the Merchant Venue for lost profits, lost revenue, lost savings, lost business, loss of opportunity, lost data or any consequential or indirect loss arising out of, or in connection with, any services (including the Service), and any claims by any third person (including any Customer), or this Agreement, even if:</p>

                <p>a. The Subline knew that loss was possible; or</p>

                <p>b. the loss was otherwise foreseeable.</p>

                <p>12.4 The Merchant Venue acknowledges that The Subline may make facilities available on the Service Portals for the access by Customers to ratings and reviews of suppliers of goods and services, which may include reviews or ratings of the Merchant Venue, and The Subline will have no liability to the Merchant Venue or any other person for any reason whatsoever arising from any comment, review, assessment or statement (whether true or untrue) made or published by any third person about the Merchant Venue or any person or entity associated with the Merchant Venue.</p>

                <p>13. Dispute resolution</p>

                <p>13.1 Any dispute arising in connection with this Agreement must be handled in accordance with this clause before a party may commence any form of litigation or legal proceedings.</p>

                <p>13.2 A party must give notice to the other party in writing of the nature of any dispute, and within 5 days of such notice:</p>

                <p>a. each party must appoint a representative with full decision making authority to negotiate on behalf of, and bind, their party to resolution of the dispute, and those representatives must meet personally (or, if agreed, by telephone, video conference or such other means as the parties consider appropriate) to consider and seek to resolve the dispute within 5 days of their appointment;</p>

                <p>b. if the respective representatives are unable to resolve the dispute after 5 days of their first meeting (or other such period as is agreed between the parties), refer the dispute to the respective chief executive officers (or equivalent) of each party, who must meet personally (or, if agreed, by telephone, video conference or such other means as the parties consider appropriate) within 7 days to discuss and seek to resolve the dispute; and</p>

                <p>c. if the respective chief executive officers (or equivalent) are unable to resolve the dispute within 7 days of their first meeting, either party is free to commence such process, including alternative dispute resolution or litigation, as they see fit to resolve the dispute.</p>

                <p>14. Variation</p>

                <p>14.1 These terms and conditions may be amended by The Subline at any time by posting revised terms and conditions online at The Subline.com/merchant-terms/, and, subject to clause 18.2, those amended terms and conditions will be effective immediately on posting, and by continuing to use the Service the Merchant Venue will be deemed to have accepted the amended terms and conditions.</p>

                <p>14.2 If the Merchant Venue does not accept any variation to these terms and conditions, it may terminate the Agreement with immediate effect, provided that the Merchant Venue gives notice in writing of such termination to The Subline within 7 days of the amended terms and conditions becoming effective.</p>

                <p>14.3 This Agreement and the Subscription Plan may be amended by The Subline at any time by giving notice in writing (&quot;Amendment Notice&quot;) of the amended terms to the Merchant Venue, and subject to clause 18.4, those amended terms will be effective immediately from the date of the Amendment Notice. Unless the Merchant Venue terminates the Agreement within 7 days after the date of the Amendment Notice in accordance with clause 18.4, the Merchant Venue will be deemed to have accepted the amended terms. If the Merchant Venue terminates the Agreement in accordance with clause 18.4, the amendments detailed in the Amendment Notice will not be binding on the Merchant Venue.</p>

                <p>14.4 If the Merchant Venue does not accept any variation to the Agreement or Subscription Plan, it may terminate the Agreement with immediate effect, provided that the Merchant Venue gives notice in writing of such termination to The Subline within 7 days of the amended terms becoming effective.</p>

                <p>14.5 Except where otherwise explicitly permitted by a clause of this Agreement, the provisions of this Agreement may not be varied by the Merchant Venue, except by agreement in writing signed by the parties.</p>

                <p>15. General</p>

                <p>15.1 For the purposes of this Agreement, any notice required to be given in writing may be given by electronic means, including by email or such other form of written communication as the parties agree from time to time.</p>

                <p>15.2 This Agreement contains all the terms agreed between the parties regarding its subject matter and supersedes and excludes any prior agreement, understanding or arrangement between the parties, whether oral or in writing. No representation, undertaking or promise shall be taken to have been given or be implied from anything said or written in negotiations between the parties prior to this Agreement except as expressly stated in this Agreement.</p>

                <p>15.3 The failure of either party to assert any of its rights under the Agreement, including, but not limited to, the right to terminate the Agreement in the event of breach or default by the other party, will not be deemed to constitute a waiver by that party of its right thereafter to enforce each and every provision of this Agreement in accordance with their terms.</p>

                <p>15.4 The invalidity or unenforceability of any term of or right arising pursuant to this Agreement shall not adversely affect the validity or enforceability of the remaining terms and rights.</p>

                <p>15.5 The Merchant Venue must not assign, transfer, charge or otherwise encumber, create any trust over or deal in any manner with this Agreement or any right, benefit or interest under it, nor transfer, novate or sub-contract any of Merchant Venue's obligations under it.</p>

                <p>15.6 The Subline may assign or novate part or all of this Agreement to any party at any time, and the Merchant Venue:</p>

                <p>a. consents to the transfer or disclosure of its personal Information and this Agreement to any purchaser of the business of The Subline or its assets if that outcome occurs;</p>

                <p>b. hereby acknowledges its consent to such assignment or novation to any party; and</p>

                <p>c. agrees to do all things reasonably required by The Subline, including executing an appropriate deed of assignment or novation, as The Subline reasonably requires to give full effect to such assignment or novation.</p>

                <p>15.7 This Agreement does not create any agency, employment, partnership, joint venture, or other joint relationship between The Subline and the Merchant Venue. The Subline and the Merchant Venue are independent contractors and neither has any authority to bind the other. For the avoidance of doubt, The Subline has no authority to bind the Merchant Venue to any contract with a Customer, and no contract for the supply of Venue Products is formed between any party until the Merchant Venue communicates Order Acceptance, at which time a contract is formed solely between the Merchant Venue and the Customer.</p>

                <p>15.8 This Agreement will be governed by and construed in according to the law of the State of Florida, USA, and each party submits unconditionally to the jurisdiction of the courts of that State.</p>

                <p>16. Security Overview</p>

                <p>16.1 All Merchant and Customer data is written to multiple disks instantly, backed up daily, and stored in multiple locations. Files that Customers upload are stored on servers that use modern techniques to remove bottlenecks and points of failure.</p>

                <p>16.2 Whenever data is in transit between Merchant and The Subline, everything is encrypted, and sent using HTTPS.</p>

                <p>16.3 All credit card transactions are processed using secure encryption are handled via Third Party Payment Providers.</p>
            </div>
        </div>

        <div id="helpStrand" class="strand">
            <h1>Found a bug?  Need help?  Have a suggestion? Need to resest your Password?</h1>

            <h1>Send us an email at <a href="mailto:lee@thesubline.com">lee@thesubline.com</a></h1>
        </div>
        
        <script src="/informationPage/help.js"></script>
        <script src="/informationPage/legal.js"></script>
    </body>
</html>